* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #ddd;
  font-family: "Press Start 2P", cursive;
}

header {
  padding: 20px;
  position: relative;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  padding: 2rem 1rem;
}

p {
  font-size: 10px;
}

.btn {
  padding: 5px 15px;
}

button:hover {
  cursor: pointer;
}

header .horr-line {
  background-color: #eee;
  margin-top: 50px;
  height: 4px;
}

main {
  padding: 5rem 1rem;
}

div.my-number {
  width: 5rem;
  position: absolute;
  top: 75%;
  left: 45%;
  background-color: #eee;
  color: #222;
  padding: 0.5rem 1.5rem;
  font-size: 2.5rem;
}

form {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

form input {
  width: 120px;
  height: 50px;
  background-color: #111;
  color: #bbb;
  border: 1px solid white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

form button {
  margin: 15px;
}

p.message {
  padding-bottom: 3rem;
}

/* SCREEN SIZES (MEDIA QUERY) */
/* Screens lower than 768px  */
@media screen and (max-width: 768px) {
  div.my-number {
    left: 40%;
  }
}
